body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 253, 21, 0.219);
    font-family: Arial, sans-serif;
}
/* nav bar voor de bovenste balk */
#top-navbar {
    background-color: rgb(29, 29, 219);
    width: 100vw;
    height: 100px;
}

.navbar-buttons-frame{
    background-color: white;
    position: relative;
    width: auto;
    float: left;
    height: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px transparent;
    border-top: 0px transparent;
}

.nav-button {
    display: block;
    cursor: pointer;
    position: relative;
    float: left;
    width: 15vw;
    height: 100px;
    font-size: 20px;
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0px transparent;
    border-bottom: 0px transparent;
}

#link-logo {
    background-color: rgb(0, 68, 255);
}

#link-home {
    background-color: rgb(0, 102, 255);
}

#link-about {
    background-color: rgb(0, 255, 234);
}

#link-contact {
    background-color: rgb(29, 173, 94);
}

#link-login {
    background-color: rgb(10, 158, 5);
}

#img-logo {
    height: 100px;
    float: left;
    display: block;
}

.page-main {
    background-color: rgb(202, 202, 202);
    text-align: left;
    margin: 10px;
}

#page-login {
    background-color: rgb(0, 102, 255);
    text-align: center;
    position: relative;
    left: 1050px;
    top: 0px;
    width: 750px;
    height: 750px;
    border-radius: 50px;
}

#page-head {
    text-align: center;
    font-size: 70px;
    margin: 20px;
}

#inlog-img-logo {
    position: absolute;
    left: 3vw;
    top: 15vh;
    width: 750px;
    height: 750px;
    border-radius: 200px;
}

#inlog-background {
    background-color: rgb(73, 73, 214);
    height: 750px;
    width: 750px;
    border-radius: 200px;
    position: absolute;
    top: 15vh;
    left: 55vw;
}

#inlog-input {
    font-size: 30px;
    text-align: center;
    height: 500px;
    width: 200px;
    position: absolute;
    top: 150px;
    left: 37%;
    float: left;
}

.input {
    margin: 0px;
    padding: 5px;
    border-radius: 100px;
    width: 200px;
    height: 15px;
    scale: 150%;
}

#inloggen {
    scale: 150%;
}

#page-contact {
    text-align: center;
}

#contact-page-background {
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    width: 75vw;
    height: 500px;
    position: relative;
    float: left;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
}

#contact-1 {
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 75px;
    left: 100px;
}

#contact-2 {
    padding: 5px;
    border-radius: 10px; 
    font-size: 25px;
    background-color: white;
    width: 400px;
    height: 150px;
    position: absolute;
    top: 300px;
    left: 100px;
}

#input-contact {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    height: 350px;
    position: absolute;
    top: 75px;
    left: 800px;
}

#description {
    height: 200px;
    width: 400px;
}

#home-background {
    border: 2px solid rgba(9, 165, 4, 0.507);
    border-radius: 100px;
    background-color: rgb(230, 230, 230);
    height: 550px;
    width: 75vw;
    position: relative;
    float: left;
    top: 100px;
    left: 250px;
}

#introductie {
    border-radius: 50px;
    background-color: rgb(161, 160, 160);
    height: 100px;
    width: 70vw;
    position: relative;
    float: left;
    top: 20px;
    left: 50px;
}

#introductie-text {
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

#introductie-info {
    font-size: 25px;
}

#info-levering {
    background-color: rgb(54, 110, 230);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 5px;
    padding: 5px;
    height: 50px;
    width: 22vw;
    position: relative;
    float: left;
    top: 20px;
    left: 0px;
}

#levering-text-inlog {
    cursor: pointer;
    text-align: center;
}

#textinfo-diensten {
    text-align: center;
    background-color: rgb(54, 110, 230);
    border: 5px solid black;
    padding: 0px;
    height: 200px;
    width: 22vw;
    position: relative;
    float: left;
    top: -20px;
    left: -5px;
}

#about-page-background {
    border: 2px solid rgba(9, 165, 4, 0.507);
    border-radius: 100px;
    background-color: rgb(230, 230, 230);
    height: 550px;
    width: 75vw;
    position: relative;
    float: left;
    top: 50px;
    left: 250px;
}

#about-1 {
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(54, 110, 230);
    border-radius: 40px;
    position: relative;
    top: 20px;
    left: 30px;
    width: 60vw;
    height: 200px;
}

#about-2 {
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
    background-color: rgb(54, 110, 230);
    border-radius: 40px;
    position: relative;
    top: 20px;
    left: 20px;
    width: 60vw;
    height: 200px;
}