body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
/* nav bar voor de bovenste balk */
#top-navbar {
    background-color: rgb(29, 29, 219);
    width: 100vw;
    height: 100px;
}

.navbar-buttons-frame{
    background-color: white;
    position: relative;
    width: auto;
    float: left;
    height: 100px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 0px transparent;
    border-top: 0px transparent;
}

.nav-button {
    display: block;
    cursor: pointer;
    position: relative;
    float: left;
    width: 250px;
    height: 100px;
    font-size: 20px;
    background-color: transparent;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 0px transparent;
    border-bottom: 0px transparent;
}

#link-logo {
    background-color: rgb(0, 68, 255);
}

#link-home {
    background-color: rgb(0, 102, 255);
}

#link-about {
    background-color: rgb(0, 255, 234);
}

#link-contact {
    background-color: rgb(0, 255, 115);
}

#link-login {
    background-color: rgb(9, 255, 0);
}

#img-logo {
    height: 100px;
    float: left;
    display: block;
}

.page-main {
    background-color: rgb(202, 202, 202);
    text-align: left;
    margin: 10px;
}

#page-login {
    background-color: rgb(0, 102, 255);
    text-align: center;
    position: relative;
    left: 1050px;
    top: 0px;
    width: 750px;
    height: 750px;
    border-radius: 50px;
}

#page-head {
    font-size: 70px;
}

#inlog-img-logo {
    position: absolute;
    left: 3vw;
    top: 15vh;
    width: 750px;
    height: 750px;
    border-radius: 200px;
}

#inlog-background {
    background-color: rgb(31, 31, 211);
    height: 750px;
    width: 750px;
    border-radius: 200px;
    position: absolute;
    top: 15vh;
    left: 55vw;
}

#inlog-input {
    font-size: 40px;
    text-align: center;
    height: 400px;
    width: 250px;
    position: absolute;
    top: 15vh;
    left: 12vw;
    float: left;
}

.input {
    padding: 5px;
    border-radius: 100px;
    width: 200px;
    height: 15px;
}